<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Roshambo!</title>
    <link rel="stlyesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/rules">Rules</a>
      <li><<a href="/roshambo">Start a Game</a>
    </nav>
    <%= yield %>
  </body>
</html>
